{% extends 'pr/base.html' %}
{% block content %}
<a href="/" class="gradient-button-r">Main</a>    <h1>Username: {{ user.username }}</h1>
    <h2>First name: {{ user.first_name }}</h2>
    <h2>Last name: {{ user.last_name }}</h2>
    <h2>Email: {{ user.email }}</h2>
    <h3>Short description: {{ user.short_description }}</h3>
    <h3>About: {{ user.description }}</h3>
    <h3>Join date: {{ user.date_joined }}</h3>
    <a href=/profile/{{ user.id }}/posts class="gradient-button">My posts</a>
    {% if request.user == user %}
<a href="/profile/edit" class="gradient-button">Edit profile</a>
    {% endif %}
{% endblock %}