<!DOCTYPE html>
<html lang="en">
<head>
{% block head %}
{% endblock %}
    {% load static %}
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'pr/style.css' %}">
</head>
<body>
        {% if request.user.is_authenticated and request.path != '/profile'%}
        <a href="/profile" class="gradient-button">My profile</a>{% endif %}
            <a href="/feedback" class="gradient-button">Contact us</a>




{% block content %}
{% endblock %}
</body>
</html>