{% extends 'pr/base.html' %}
{% block head %}
{% endblock %}
{% block content %}
    {% if request.user.is_authenticated %}
        <p>Hi, {{ request.user }}</p>
            <a href="/accounts/logout" class="gradient-button-r">logout</a>
    {% else %}
        <p>You are not authorized.</p>

            <a href="/accounts/signup" class="gradient-button-r1">Sign up</a>
            <a href="/accounts/login" class="gradient-button-r">Login</a>
    {% endif %}
     {% if page_obj %}
            <a href="/create" class="gradient-button">Create post</a>
        {% for i in page_obj %}
            <table border="1" bordercolor="orange" bgcolor="white" width="300"> <!-- New table in every loop is correct -->
                <tr><td style="width:300px">Subject: {{ i.subject }}</td></tr>
                <tr><td style="width:300px">Short description: {{ i.short_description }}</td></tr>
                <tr><td style="width:300px">{{ i.text }}</td></tr>
            </table><table border="1" bordercolor="orange" bgcolor="white" width="300">
                <tr><td style="width:300px">Author: <a href="/user/{{ i.author.id }}">{{ i.author }}</a></td></tr>

            <tr><td style="width:300px"><a href="/post/{{ i.id }}">Detail</a></td></tr>
            </table><br>
        {% endfor %}

    {% else %}
        <h1>There are not any posts, add some.</h1>
            <a href="/create" class="gradient-button">Create post</a>
    {% endif %}
     {% if page_obj.paginator.num_pages > 1 %}
    {% include "pr/pagination.html"%}
    {% endif %}
{% endblock %}