{% extends 'pr/base.html' %}
{% block content %}
     {% if object_list %}
        <form action="/create/"><button type="submit">Create post</button></form>
        <form action="/"><button type="submit">Main</button></form>
        {% for i in object_list %}
            <table border="2" bordercolor="black" bgcolor="white" width="300"> <!-- New table in every loop is correct -->
                <tr><td style="width:300px">{{ i.text }}</td></tr>
                <tr><td style="width:300px">Author: {{ i.author }}</td></tr>
                <tr><td style="width:300px"><a href="/post/{{ i.id }}">Leave a comment</td></tr>
            </table>
        {% endfor %}

    {% else %}
        <h1>There are not any objects, add some.</h1>
        <form action="/create/"><button type="submit">Create book</button></form>
    {% endif %}
    {% include "pr/pagination.html"%}
{% endblock %}